body{
    margin: 0;
    background-image: linear-gradient(to right, #e4fbff, #edeef7);
    height: 100vh;
}
.container{ 
    text-align: center;
}

h1,p{
    font-family: 'Julius Sans One', sans-serif;
}
img{
    max-width: 40px;
    position: relative;
    top: 5px;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    
}
.form{
    margin: 0 10%;
    max-width: 80%;
    background-color: white;
}

table,td{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}
table{
    min-height: 70vh;
    font-family: 'Mali', cursive;
}

.table-heading{
    background-color: #e4efe7;
}

.button{
    min-width: 25%;
    font-family: monospace;
}
p{
    margin-top: 10vh;
    padding-bottom: 2px;
}
span{
    color: red;
}
